/* Fonts */

@font-face {
  font-family: 'dancing_scriptbold';
  src: url('../fonts/dancingscript/dancingscript-bold-webfont.woff2') format('woff2'),
       url('../fonts/dancingscript/dancingscript-bold-webfont.woff') format('woff'),
       url('../fonts/dancingscript/dancingscript-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldmedium';
  src: url('../fonts/oswald/oswald-medium-webfont.woff2') format('woff2'),
       url('../fonts/oswald/oswald-medium-webfont.woff') format('woff'),
       url('../fonts/oswald/oswald-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('lato-regular-webfont.woff2') format('woff2'),
       url('lato-regular-webfont.woff') format('woff'),
       url('lato-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Lato', sans-serif;
}

html, body {
	height: 100%;
}

.background {
	background: #FFF;
	background: linear-gradient(135deg, #FFF59D 50%, #FFF 50%);
	height: 100%;
}

nav {
	background: transparent;
	color: #333333;
}

.brand-logo {
	width: 15%;
}