/* Fonts */

@font-face {
  font-family: 'Dancing Script';
  src: url('../fonts/dancingscript/dancingscript-bold-webfont.woff2') format('woff2'),
       url('../fonts/dancingscript/dancingscript-bold-webfont.woff') format('woff'),
       url('../fonts/dancingscript/dancingscript-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald/oswald-medium-webfont.woff2') format('woff2'),
       url('../fonts/oswald/oswald-medium-webfont.woff') format('woff'),
       url('../fonts/oswald/oswald-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
       url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
       url('../fonts/lato/lato-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}

@media only screen and (min-width: 601px) {
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 2.75rem;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 3.56rem;
  }
  nav {
    margin-bottom: 50px;
  }
}

.title {
  font-family: 'Oswald', sans-serif;
}

.subtitle {
  font-family: 'Oswald', sans-serif;
}

html, body {
	height: 100%;
}

.background {
	background: #FFF;
	background: linear-gradient(135deg, #FFF59D 50%, #FFF 50%);
	height: 100%;
}

nav {
	background: transparent;
	color: #333333;
}

.brand-logo {
	width: 13%;
}